.advantages-item {
  list-style-type: none;
  display: flex;
  position: relative;

  @media (max-width: $mobile-width) {
    margin-bottom: 9px;
  }
}

.advantages-item--regular {
  display: flex;
  align-items: start;
  min-height: 150px;
  padding-top: 45px;

  @media (max-width: $tablet-width) {
    padding-top: 0;
    align-items: flex-start;
    min-height: 100px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    min-height: 190px;
    margin: 0;
    padding: 10px;
    margin-bottom: 3px;
    box-sizing: border-box;
  }
}

.advantages-item--main {
  grid-row: 1/3;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1c3374;
  color: #ffffff;
  margin: 35px 7px 0;
  padding: 45px 35px 55px;
  text-align: center;
  min-height: 307px;
  margin-top: 20%;
  margin-bottom: 10%;
  align-self: center;

  @media (max-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 65.2%;
    min-height: 239px;
    justify-self: center;
    margin: 0;
    padding: 35px;
    box-sizing: border-box;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    order: 3;
    padding: 25px 35px 35px 32px;
    margin-top: 30px;
    margin-bottom: 18px;
  }
}

.advantages-item--main .advantages-item__header {
  margin: 0 0 5px 0;
  font-size: 74px;
  line-height: 80px;
  color: #ffffff;

  @media (max-width: $tablet-width) {
    margin-bottom: -6px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
  }
}

.advantages-item__unit {
  margin: -5px 0 0;
  color: #2e35ac;

  @media (max-width: $tablet-width) {
    margin-top: -20px;
    font-size: 14px;
    line-height: 21px;
  }
}

.advantages-item--main .advantages-item__unit {
  color: #ffffff;
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 33px;
  margin-top: 0;

  @media (max-width: $tablet-width) {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 15px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
    margin-top: -7px;
  }
}

.advantages-item__header {
  color: transparent;
  background: linear-gradient(to bottom right, #d10a42 20%, #0041ca 35%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 71px;
  line-height: 71px;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 58px;
    line-height: 87px;
  }
}

.advantages-item__advantage {
  margin: 0 0 5px;
  font-size: 22px;
  line-height: 33px;

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 2px;
  }
}

.advantages-item__description {
  margin: 0;
  font-weight: 300;
}

.advantages-item__number {
  margin-right: 30px;

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.advantages-item--main .advantages-item__number {
  margin-right: 0;
}


.advantages-item--main .advantages-item__description {
  @media (max-width: $tablet-width) {
    line-height: 24px;
  }
}

.advantages-item--regular:not(:nth-child(-n+2))::before {
  content: "";
  position: absolute;
  top: -30px;
  right: -15px;
  left: -15px;
  height: 1px;
  background-color: rgba(209, 10, 66, 0.2);

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.advantages-item--regular .advantages-item__text {
  padding-top: 5px;

  @media (max-width: $tablet-width) {
    padding-top: 15px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 77%;
  }
}

.advantages-item--1 {
  @media (max-width: $mobile-width) {
    order: 1;
  }
}

.advantages-item--2 {
  @media (max-width: $mobile-width) {
    order: 2;
  }
}

.advantages-item--3 {
  @media (max-width: $mobile-width) {
    order: 4;
  }
}

.advantages-item--4 {
  @media (max-width: $mobile-width) {
    order: 5;
  }
}
