.advantages {
  width: 100%;
  background-color: #f8f9fc;
  padding: 95px 10px 120px;
  min-height: 664px;

  @media (max-width: $tablet-width) {
    padding-top: 55px;
    min-height: 755px;
    padding-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    padding: 57px 0;
  }
}

.advantages__wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding: 35px;
  }

  @media (max-width: $mobile-width) {
    padding: 5px 0;
  }
}

.advantages__header {
  text-align: center;
  font-size: 54px;
  line-height: 65px;
  font-family: "Alumni Sans";
  font-weight: 600;
  letter-spacing: 1.5px;
  margin: 0;
  padding-left: 7px;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 50px;
    padding: 0 20px 0 0;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 1px;
  }
}

.advantages__list {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 0.8fr 1fr;
  column-gap: 55px;
  row-gap: 85px;
  margin: 0;
  width: 100%;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 33px;
    row-gap: 15px;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }
}

.advantages-list__item {
  position: relative;
}
