.coach-text {
  color: #ffffff;
  padding: 52px 40px 25px 56px;
  box-sizing: border-box;
  //visibility: hidden;
  display: none;
  position: absolute;
  top: 0;
  background-color: rgba(16, 38, 84, 0.89);
  bottom: 0;
  overflow-y: auto;
  //display: flex;
  flex-direction: column;
  width: 100%;

  @media (max-width: $tablet-width) {
    text-align: start;
  }

  @media (max-width: $mobile-width) {
    padding: 42px 33px;
  }
}

.coach-text__specefications {
  padding: 0 0 0 15px;
  list-style-type: disc;
  font-size: 14px;
  line-height: 21px;
}

.coach-text__name {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  align-self: center;

  @media (max-width: $mobile-width) {
    margin-bottom: -5px;
    padding-left: 5px;
  }
}

.coach-text__description {
  margin: 0 10px 30px 0;
  color: #b6bdcc;
  line-height: 24px;
  align-self: center;

  @media (max-width: $mobile-width) {
    padding-left: 7px;
    margin-bottom: 35px;
  }
}
