.coach-text {
  color: #ffffff;
  padding: 57px 55px;
  box-sizing: border-box;
  visibility: hidden;
  position: absolute;
  top: 0;
  background-color: rgba(16, 38, 84, 0.89);
  bottom: 0;
  overflow-y: auto;
}

.coach-text__specefications {
  padding: 0;
  list-style-type: disc;
}

.coachs-item {
  position: relative;
}

.coach-text__name {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
}

.coach-text__description {
  margin: 0 0 35px 0;
  color: #b6bdcc;
  line-height: 24px;
}

.coach-text__specefications {
  font-size: 14px;
  line-height: 21px;
}
