.company-description {
  padding: 120px 10px;
  background-color: #ffffff;
  min-height: 756px;
}

.company-description__wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1160px;
  margin: 0 auto;
}

.company-description__header {
  font-size: 48px;
  line-height: 58px;
  margin: 0 0 25px 0;
  font-family: "Alumni Sans";
}

.company-description__determination {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 55px 0;
}

.company-description__paragraph {
  margin: 0 0 15px 0;
  line-height: 24px;
}

.company-description__text {
  width: 30.6%;
  margin-right: 7.3%;
  padding-top: 49px;
}
