.contacts {
  width: 100%;
  min-height: 337px;
  display: flex;
  align-items: flex-end;
}

.contacts__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    padding: 15px;
  }
}

.contacts__form {
  background-color: #102654;
  padding: 56px 170px 70px 20px;

}

.contacts__address {
  background-color: #ffffff;
  padding: 56px 20px 30px 125px;

  @media (max-width: $tablet-width) {
    padding: 60px 20px 20px 133px;
    min-height: 350px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}
