.events-table {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.events-table__point {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: $tablet-width) {
    font-size: 12px;
    line-height: 18px;
  }
}

.events-table__value {
  position: relative;
  margin-right: auto;
  margin: 0 auto 0 0;
}

.events-table__value::before {
  position: absolute;
  right: 0;
  top: 4px;
  left: 0;
  height: 1px;
  width: auto;
  background-color: #ffffff;
  content: "";

  @media (max-width: $tablet-width) {
    top: 0;
    right: 3px;
  }
}

.events-table__value:not(:last-child) {
  margin-bottom: 10px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}
