.events-value__header {
  margin: 0;
  font-size: 40px;
  line-height: 60px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 7px;
}

.events-value__description {
  margin: 0;
  font-size: 14px;
}
