.events {
  width: 100%;
  padding: 120px 10px 50px;
  background-color: #ffffff;

  @media (max-width: $tablet-width) {
    min-height: 450px;
    padding: 100px 45px 50px;
  }

  @media (max-width: $mobile-width) {
    padding: 70px 10px 30px;
  }
}

.events__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  @media (max-width: $mobile-width) {
    padding: 0 5px;
    flex-direction: column;
  }
}

.events__text {
  background-color: #ed0233;
  color: #ffffff;
  width: 43%;
  padding: 80px 78px 85px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 60px;

  @media (max-width: $tablet-width) {
    padding: 48px 45px;
    column-gap: 35px;
    grid-template-columns: 2fr 0.9fr;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-top: 47px;
    min-height: 292px;
  }
}

.events__image {
  width: 57%;
  object-fit: cover;

  @media (max-width: $mobile-width) {
    width: 100%;
    aspect-ratio: 0.99/1;
  }
}
