.feedback-item__image {
  border-radius: 50%;
  margin-right: 28px;
  margin-bottom: auto;
  margin-top: 5px;
  width: 80px;
  height: 80px;

  @media (max-width: $mobile-width) {
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
    top: 37px;
    width: 68px;
    height: 68px;
  }
}
