.feedback {
  width: 100%;
  min-height: 480px;
  padding: 10px 10px 0 10px;

  @media (max-width: $tablet-width) {
    padding-top: 61px;
    min-height: 450px;
  }
}

.feedback__wrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 20px 0 120px 0;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet-width) {
    padding-bottom: 100px;
  }
}

.feedback__header {
  margin: 0 0 37px 0;
  font-size: 54px;
  line-height: 65px;
  font-family: "Alumni Sans";
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 3px;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 50px;
    padding: 0;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
}

.feedback__item {
  width: 560px;
  min-height: 242px;
  background-color: #1c3374;
  color: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 55px 62px;

  @media (max-width: $tablet-width) {
    width: 80%;
  }
}
