.length-item__button {
  border: 0;
  background-color: transparent;
  position: relative;
  padding: 0;
  color: rgba(16, 38, 84, 0.5);
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 24px;
  }

  &:hover,
  &:focus {
    color: #102654;
  }
}

.length-item:not(:last-child) {
  margin-right: 46px;

  @media (max-width: $tablet-width) {
    margin-right: 55px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 45px;
  }
}

.length-item__button--current::before {
  position: absolute;
  right: 0;
  bottom: -14px;
  left: 0;
  height: 2px;
  width: auto;
  background-color: #d10a42;
  content: "";
}

.length-item .length-item__button--current {
  color: #102654;
}
