.main-offer {
  position: relative;
  min-height: 658px;
  padding: 51px 10px;
  background-image: conic-gradient(from 130.31deg at 160px 257px, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
}

.main-offer__wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1160px;
  margin: 0 auto;

  align-items: center;
}

.main-offer__products {
  display: flex;

}
