.main-header {
  position: absolute;
  background-color: transparent;
  width: 100%;
  padding: 30px 10px 0;
  z-index: 1;
  min-height: 74px;

  @media (max-width: $tablet-width) {
    padding: 30px 45px;
    min-height: 54px;
  }

  @media (max-width: $mobile-width) {
    padding: 10px 15px;
    align-items: baseline;
  }
}

.main-header__wrapper {
  max-width: 1160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;


}

.main-header__phone {
  font-size: 26px;
  line-height: 31px;
  font-family: "Alumni Sans";
  font-weight: 600;
}
