.main-offer-name__location {
  font-size: 40px;
  line-height: 58px;
  margin: 0 0 10px 0;
  padding-right: 50px;
  font-family: "Alumni Sans";
  font-weight: 600;
  letter-spacing: 3px;

  @media (max-width: $tablet-width) {
    font-size: 28px;
    line-height: 40px;
    padding-right: 0;
    margin-bottom: 5px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 1.8px;
    margin-bottom: 11px;
  }
}

.main-offer-name__company {
  font-size: 92px;
  line-height: 110px;
  margin: 0 0 50px 0;
  letter-spacing: 4px;
  text-align: right;

  @media (max-width: $tablet-width) {
    font-size: 74px;
    line-height: 86px;
    text-transform: none;
    letter-spacing: 2px;
    margin-bottom: 40px;
  }


}

.main-offer-name__button {
  color: inherit;
  font-size: 12px;
  line-height: 14px;
  width: 230px;
  min-height: 57px;
  border: #ffffff 4px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  letter-spacing: 0.3px;

  @media (max-width: $tablet-width) {
    width: 183px;
    min-height: 60px;
  }

  @media (max-width: $mobile-width) {
    position: absolute;
    bottom: -44px;
    width: 98%;
    left: 1%;
    min-height: 63px;
    padding-top: 5px;
    box-sizing: border-box;
    letter-spacing: 0.5px;
  }

  &:hover,
  &:focus {
    color: #102654;
    background-color: #ffffff;
  }
}
