.media {
  position: relative;
  width: 60%;
  height: 100%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.media__image {
  width: 100%;

  @media (max-width: $tablet-width) {
    aspect-ratio: 1/0.508;
  }

  @media (max-width: $mobile-width) {
    aspect-ratio: 1/0.98;
  }
}

.media__video {
  position: absolute;
  z-index: 2;
  bottom: -29%;
  left: -9%;
  width: 364px;
  aspect-ratio: 1/0.626;

  @media (max-width: $tablet-width) {
    left: 30.3%;
    transform: translateX(-50%);
    width: 39%;
    aspect-ratio: 1/0.626;
    bottom: 0%;
    transform: translateY(50%);
  }

  @media (max-width: $mobile-width) {
    position: relative;
    margin-top: 40px;
    width: 100vw;
    height: 53vw;
    left: 0;
    transform: translateY(0%);
  }
}
