.navigation-list {
  color: #ffffff;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.navigation-list__item {
  margin-right: 3.4%;
}

.footer-navigation__wrapper {
  width: 100%;
}
