.navigation-list {
  color: #ffffff;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.navigation-list__item:not(:last-child) {
  margin-right: 8.2%;
}

.footer-navigation__wrapper {
  width: 100%;
}
