.terms-item {
  width: 31.2%;
  background-color: #ffffff;
  min-height: 448px;
  padding: 57px 0 59px 0;
  text-align: center;
  border: solid 7px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: $tablet-width) {
    width: 65.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    padding: 45px 10px;
    width: 100%;
    min-height: 382px;
  }

  &:hover,
  &:focus,
  &:active {
    border: solid 7px transparent;
    border-image: linear-gradient(to right bottom, #d10a42, #00359f);
    -moz-border-image: -moz-linear-gradient(to right bottom, #d10a42, #00359f);
    -webkit-border-image: -webkit-linear-gradient(to right bottom, #d10a42, #00359f);
    border-image-slice: 1;
  }
}

.terms-item:not(:nth-child(3n)) {
  margin-right: 3.45%;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.terms-item:not(:last-child) {
  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 37px;
  }
}

.terms-item__header {
  font-size: 26px;
  line-height: 29px;
  margin: 0 0 12px 0;

  @media (max-width: $mobile-width) {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}

.terms-item__description {
  line-height: 24px;
  color: #495a7d;
  margin: 0 0 70px 0;

  @media (max-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 56px;
  }
}

.terms-item__price {
  font-size: 58px;
  line-height: 80px;
  font-weight: 700;
  margin: 0 0 38px 0;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 90px;
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    font-size: 48px;
    line-height: 72px;
    padding-left: 5px;
    margin-bottom: 30px;
  }
}

.terms-item__button {
  border: solid 2px #102654;
  width: 206px;
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  &:hover,
  &:focus {
    background: linear-gradient(to top left, #ed0233 100% 45deg, #003eb7 -65% -45deg);
    border: 0;
  }
}
